<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.krystelbaca.com.happytravel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DestinoListActivity"
            android:label="@string/title_destino_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DestinoDetailActivity"
            android:label="@string/title_destino_detail"
            android:parentActivityName=".DestinoListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.krystelbaca.com.happytravel.DestinoListActivity" />
        </activity>
        <activity
            android:name=".MiViajeListActivity"
            android:label="@string/title_miviaje_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MiViajeDetailActivity"
            android:label="@string/title_miviaje_detail"
            android:parentActivityName=".MiViajeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.krystelbaca.com.happytravel.MiViajeListActivity" />
        </activity>
        <activity
            android:name=".OfertaListActivity"
            android:label="@string/title_oferta_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".OfertaDetailActivity"
            android:label="@string/title_oferta_detail"
            android:parentActivityName=".OfertaListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.krystelbaca.com.happytravel.OfertaListActivity" />
        </activity>
    </application>

</manifest>